{% extends 'base.html' %}
{% load static %}

{% block content %}




<!--
<div class="row justify-content-md-center h-200"></div>
 <div class="col-md-6"></div>
 -->

  <div id="containerDetalheProduto">

    <div id="boxDetalheProduto">

    <div class="card mb-7 text-white bg-dark">
       <div class="card-body">
          <h5 class="card-title">Nome do livro: {{livro.nome}}</h5>
          <p class="card-text">Autor: {{livro.autor.nome}}</p>
          <p class="card-text">Editora: {{livro.editora.nome}}</p>
          <p class="card-text">Descrição do livro: {{livro.descricao}}</p>
        </div>
       
        <ul class="list-group">
          <li class="list-group-item" id="textoCard">Categoria: {{livro.categoria.nome}}</li>
          <li class="list-group-item" id="textoCard">Número de páginas: {{livro.num_paginas}}</li>
          <li class="list-group-item" id="textoCard">Ano de lançamento: {{livro.ano}}</li>
          <li class="list-group-item" id="textoCard">Preço: {{livro.preco}}</li>
          <li class="list-group-item" id="textoCard">Quantidade em estoque: {{livro.estoque}}</li>
        </ul>
        
        <div class="card-body">
        <a href="{% url 'exibirLivros' %}" class="btn btn-primary ">Voltar</a>
        <a href="{% url 'editarLivro' livro.id %}" class="btn btn-primary ">Editar</a>
        <a href="#" class="btn btn-primary ">Excluir</a>
      </div>
    </div>


  </div>
 
</div>

{% endblock %}